# Configuración del dominio base de OpenReport
# Esta variable se usa para generar URLs en la aplicación y CLI
OR_DOMAIN=https://openreport.kettu.tech

# Configuración del servidor
PORT=3000
HOST=0.0.0.0

# Configuración de desarrollo
NODE_ENV=development
